node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
storage/*.key
storage/pail
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
.DS_Store
Thumbs.db
*.log
*.cache

